@{
    ViewBag.Title = "Principal";


}

<h1 class="mt-4">Reportes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Reportes</li>
</ol>
@{
    if (Convert.ToInt32(Session["rolUsuario"]) == 1)
    {
        <div class="card">
            <div class="card-header">
                <i class="fas fa-users"></i> Lista de Reportes
            </div>
            <div class="card-body">

                <form>

                    <div class="row align-items-end">

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="text" id="dateInicio" name="dateInicio" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Final</label>
                                <input class="form-control" type="text" id="dateFinal" name="dateFinal" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Codigo</label>
                                <input class="form-control" type="text" id="txtcodigo" name="codigo" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                            </div>
                        </div>

                        <br />
                    </div>

                </form>

                <hr />

                <div class="row">

                    <div class="col-sm-12">

                        <table id="tablaReporte" class="display cell-border" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Nombres y Apellidos</th>
                                    <th>Email</th>
                                    <th>Codigo</th>
                                    <th>Fecha</th>
                                    <th>Reportes</th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                </div>



            </div>
        </div>
        @*if (!string.IsNullOrEmpty(TempData["ExternalAccessErrorMessage"] as string))
        {
            <div class="alert alert-danger">@TempData["ExternalAccessErrorMessage"]</div>
        }*@
        @*if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }*@
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <i class="fas fa-users"></i> Lista de Reportes
            </div>
            <div class="card-body">

                <form>

                    <div class="row align-items-end">

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="text" id="dateInicio" name="dateInicio" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Final</label>
                                <input class="form-control" type="text" id="dateFinal" name="dateFinal" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Codigo</label>
                                <input class="form-control" type="text" id="txtcodigo" name="codigo" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                            </div>
                        </div>

                        <br />
                    </div>

                </form>

                <hr />

                <div class="row">

                    <div class="col-sm-12">

                        <table id="tablaReporte" class="display cell-border" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Nombres y Apellidos</th>
                                    <th>Email</th>
                                    <th>Codigo</th>
                                    <th>Fecha</th>
                                    <th>Reportes</th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                </div>



            </div>
        </div>
        @*if (!string.IsNullOrEmpty(TempData["ExternalAccessErrorMessage"] as string))
        {
            <div class="alert alert-danger">@TempData["ExternalAccessErrorMessage"]</div>
        }*@
        @*if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }*@
    }
}

@section scripts{

    <script>

        $(document).ready(function () {

            var tabladata;
            var filaSeleccionada;

            $(function () {
                $("#dateInicio").datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1900:2100",
                }).datepicker('setDate', new Date());

                $("#dateFinal").datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1900:2100",
                }).datepicker('setDate', new Date());
            });
            debugger;
            /* ///////////////// DATOS PARA LA CARGA DEL DATA TABLE ///////////////// */
            tabladata = $('#tablaReporte').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    "url": '@Url.Action("ListarResumen", "Home")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [ //data es el nombre de la propiedad del objeto que se recibe en el controlador y se envia al cliente en formato json
                    {
                        "data": null, "render": function (data, type, row) {
                            return data.oResultado.oUsuario.nombres + ' ' + data.oResultado.oUsuario.apellidos;
                        }, "width": "80px", "className": "text-center"
                    },
                    { "data": "oResultado.oUsuario.email", "width": "80px", "className": "text-center" },
                    { "data": "codigo", "width": "80px", "className": "text-center" },
                    { "data": "fechaResumen", "width": "100px", "className": "text-center" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-success btn-sm btn-excel"><i class="fas fa-file-excel"></i></button>' + ' ' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-pdf"><i class="fas fa-file-pdf"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px"
                        , "className": "text-center"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }
            });

            $('#tablaReporte tbody').on('click', '.btn-excel', function () {
                debugger;
                var data = tabladata.row($(this).parents('tr')).data();
                var codigo = data.codigo;

                // Envía el código al controlador a través de una solicitud AJAX
                //$.ajax({
                //    url: 'Url.Action("ReporteExcel_Cliente", "Home")', // Reemplaza "AccionControlador" y "Controlador" con los nombres correspondientes
                //    type: 'POST',
                //    data: { 'codigo': codigo },
                //    success: function (resultado) {
                //        // Maneja la respuesta del controlador aquí, por ejemplo:
                //        console.log(resultado);
                //    },
                //    error: function (error) {
                //        // Maneja los errores aquí, por ejemplo:
                //        console.error(error);
                //    }
                //});

                // Crear un formulario dinámicamente para enviar la solicitud POST
                var form = document.createElement("form");
                form.method = "POST";
                form.action = '@Url.Action("ReporteExcel_Cliente", "Home")';

                // Agregar el campo "codigo" al formulario
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "codigo";
                input.value = codigo;
                form.appendChild(input);

                // Agregar el formulario al documento y enviarlo
                document.body.appendChild(form);
                form.submit();

                // Eliminar el formulario del documento
                document.body.removeChild(form);

            });

            $('#tablaReporte').on('click', '.btn-pdf', function () {
                debugger;
                var data = tabladata.row($(this).parents('tr')).data();
                var email = data.oResultado.oUsuario.email;
                var codigo = data.codigo;

                // Crear un formulario temporal para enviar la solicitud POST.
                var form = $('<form>', {
                    action: '@Url.Action("GenerarPDF", "Home")',
                    method: 'post'
                });

                // Añadir el código como otro campo oculto en el formulario.
                form.append($('<input>', {
                    type: 'hidden',
                    name: 'codigo',
                    value: codigo
                }));

                // Añadir el correo electrónico como un campo oculto en el formulario.
                form.append($('<input>', {
                    type: 'hidden',
                    name: 'email',
                    value: email
                }));

                // Añadir el formulario al cuerpo del documento y enviarlo.
                form.appendTo('body').submit();
            });



        });


    </script>

}