@{
    ViewBag.Title = "Principal";


}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<style>
    .card-header {
        background-color: #007bff;
        color: #fff;
    }

    .card-body {
        padding: 1.25rem;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
            border-color: #218838;
        }

    table.dataTable thead th {
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    table.dataTable tfoot th {
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    table.dataTable tbody td {
        border-color: #dee2e6;
    }
</style>

<style>
    .btn-circle {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        line-height: 30px;
        text-align: center;
    }

    .btn-editar {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

        .btn-editar:hover {
            background-color: #0b5ed7;
            border-color: #0b5ed7;
        }

    .btn-eliminar {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-eliminar:hover {
            background-color: #c82333;
            border-color: #c82333;
        }

    table.dataTable thead th {
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    table.dataTable tbody td {
        vertical-align: middle;
    }

    #tablaCliente_wrapper {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 10px;
    }

    #tablaCliente_length,
    #tablaCliente_filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        #tablaCliente_length label,
        #tablaCliente_filter label {
            margin-bottom: 0;
            margin-left: 10px;
        }

    #tablaCliente_paginate {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tablaCliente_info {
        margin-top: 10px;
    }

    #tablaCliente_filter input[type="search"] {
        border-radius: 5px;
        padding: 5px;
        width: 200px;
    }

    #tablaCliente th,
    #tablaCliente td {
        padding: 10px;
    }

    #tablaCliente th {
        background-color: #e9ecef;
        font-weight: bold;
        text-align: center;
    }

    #tablaCliente tbody tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    #tablaCliente tbody tr:hover {
        background-color: #e9ecef;
    }
</style>

<div class="jumbotron jumbotron-fluid ">
    <div class="container">
        <h1 class="display-4">Reportes</h1>
        <p class="lead">Accede a información y análisis detallados para la toma de decisiones.</p>
    </div>
</div>

@{
    if (Convert.ToInt32(Session["rolUsuario"]) == 1)
    {
        <div class="card">
            <div class="card-header">
                <i class="fas fa-users"></i> Lista de Reportes
            </div>
            <div class="card-body">

                <form>

                    <div class="row align-items-end">

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="text" id="dateInicio" name="dateInicio" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Final</label>
                                <input class="form-control" type="text" id="dateFinal" name="dateFinal" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Codigo</label>
                                <input class="form-control" type="text" id="txtcodigo" name="codigo" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                            </div>
                        </div>

                        <br />
                    </div>

                </form>

                <hr />

                <div class="row">

                    <div class="col-sm-12">

                        <table id="tablaReporte" class="display cell-border" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Nombres y Apellidos</th>
                                    <th>Email</th>
                                    <th>Codigo</th>
                                    <th>Fecha</th>
                                    <th>Reportes</th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                </div>



            </div>
        </div>
        @*if (!string.IsNullOrEmpty(TempData["ExternalAccessErrorMessage"] as string))
            {
                <div class="alert alert-danger">@TempData["ExternalAccessErrorMessage"]</div>
            }*@
        @*if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }*@
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <i class="fas fa-users"></i> Lista de Reportes
            </div>
            <div class="card-body">

                <form>

                    <div class="row align-items-end">

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="text" id="dateInicio" name="dateInicio" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Fecha Final</label>
                                <input class="form-control" type="text" id="dateFinal" name="dateFinal" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-sm-12">
                                <label class="form-label">Codigo</label>
                                <input class="form-control" type="text" id="txtcodigo" name="codigo" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="d-grid mb-2">
                                <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                            </div>
                        </div>

                        <br />
                    </div>

                </form>

                <hr />

                <div class="row">

                    <div class="col-sm-12">

                        <table id="tablaReporte" class="display cell-border" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Nombres y Apellidos</th>
                                    <th>Email</th>
                                    <th>Codigo</th>
                                    <th>Fecha</th>
                                    <th>Reportes</th>
                                </tr>
                            </thead>
                        </table>

                    </div>

                </div>



            </div>
        </div>
        @*if (!string.IsNullOrEmpty(TempData["ExternalAccessErrorMessage"] as string))
            {
                <div class="alert alert-danger">@TempData["ExternalAccessErrorMessage"]</div>
            }*@
        @*if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }*@
    }
}

@section scripts{

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

    <script>

        $(document).ready(function () {

            var tabladata;
            var filaSeleccionada;

            $(function () {
                $("#dateInicio").datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1900:2100",
                }).datepicker('setDate', new Date());

                $("#dateFinal").datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1900:2100",
                }).datepicker('setDate', new Date());
            });
            debugger;
            /* ///////////////// DATOS PARA LA CARGA DEL DATA TABLE ///////////////// */
            tabladata = $('#tablaReporte').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    "url": '@Url.Action("ListarResumen", "Home")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [ //data es el nombre de la propiedad del objeto que se recibe en el controlador y se envia al cliente en formato json
                    {
                        "data": null, "render": function (data, type, row) {
                            return data.oResultado.oUsuario.nombres + ' ' + data.oResultado.oUsuario.apellidos;
                        }, "width": "80px", "className": "text-center"
                    },
                    { "data": "oResultado.oUsuario.email", "width": "80px", "className": "text-center" },
                    { "data": "codigo", "width": "80px", "className": "text-center" },
                    { "data": "fechaResumen", "width": "100px", "className": "text-center" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-success btn-sm btn-excel"><i class="fas fa-file-excel"></i></button>' + ' ' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-pdf"><i class="fas fa-file-pdf"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px"
                        , "className": "text-center"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                },
                "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>>t<"row"<"col-sm-6"i><"col-sm-6"p>>',
                "lengthMenu": [10, 25, 50, 75, 100],
                "pageLength": 10,
                "initComplete": function () {
                    $('#tablaCliente_filter input').addClass('form-control');
                },
            });

            $('#tablaReporte tbody').on('click', '.btn-excel', function () {
                debugger;
                var data = tabladata.row($(this).parents('tr')).data();
                var codigo = data.codigo;

                // Envía el código al controlador a través de una solicitud AJAX
                //$.ajax({
                //    url: 'Url.Action("ReporteExcel_Cliente", "Home")', // Reemplaza "AccionControlador" y "Controlador" con los nombres correspondientes
                //    type: 'POST',
                //    data: { 'codigo': codigo },
                //    success: function (resultado) {
                //        // Maneja la respuesta del controlador aquí, por ejemplo:
                //        console.log(resultado);
                //    },
                //    error: function (error) {
                //        // Maneja los errores aquí, por ejemplo:
                //        console.error(error);
                //    }
                //});

                // Crear un formulario dinámicamente para enviar la solicitud POST
                var form = document.createElement("form");
                form.method = "POST";
                form.action = '@Url.Action("ReporteExcel_Cliente", "Home")';

                // Agregar el campo "codigo" al formulario
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "codigo";
                input.value = codigo;
                form.appendChild(input);

                // Agregar el formulario al documento y enviarlo
                document.body.appendChild(form);
                form.submit();

                // Eliminar el formulario del documento
                document.body.removeChild(form);

            });

            $('#tablaReporte').on('click', '.btn-pdf', function () {
                debugger;
                var data = tabladata.row($(this).parents('tr')).data();
                var email = data.oResultado.oUsuario.email;
                var codigo = data.codigo;

                // Crear un formulario temporal para enviar la solicitud POST.
                var form = $('<form>', {
                    action: '@Url.Action("GenerarPDF", "Home")',
                    method: 'post'
                });

                // Añadir el código como otro campo oculto en el formulario.
                form.append($('<input>', {
                    type: 'hidden',
                    name: 'codigo',
                    value: codigo
                }));

                // Añadir el correo electrónico como un campo oculto en el formulario.
                form.append($('<input>', {
                    type: 'hidden',
                    name: 'email',
                    value: email
                }));

                // Añadir el formulario al cuerpo del documento y enviarlo.
                form.appendTo('body').submit();
            });



        });


    </script>

}