
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

<!-- Agrega los estilos de SweetAlert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<style>
    .card-header {
        background-color: #007bff;
        color: #fff;
    }

    .card-body {
        padding: 1.25rem;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
            border-color: #218838;
        }

    table.dataTable thead th {
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    table.dataTable tfoot th {
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    table.dataTable tbody td {
        border-color: #dee2e6;
    }
</style>

<style>
    .btn-circle {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        line-height: 30px;
        text-align: center;
    }

    .btn-editar {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

        .btn-editar:hover {
            background-color: #0b5ed7;
            border-color: #0b5ed7;
        }

    .btn-eliminar {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-eliminar:hover {
            background-color: #c82333;
            border-color: #c82333;
        }

    table.dataTable thead th {
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    table.dataTable tbody td {
        vertical-align: middle;
    }

    #tablaCliente_wrapper {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 10px;
    }

    #tablaCliente_length,
    #tablaCliente_filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        #tablaCliente_length label,
        #tablaCliente_filter label {
            margin-bottom: 0;
            margin-left: 10px;
        }

    #tablaCliente_paginate {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tablaCliente_info {
        margin-top: 10px;
    }

    #tablaCliente_filter input[type="search"] {
        border-radius: 5px;
        padding: 5px;
        width: 200px;
    }

    #tablaCliente th,
    #tablaCliente td {
        padding: 10px;
    }

    #tablaCliente th {
        background-color: #e9ecef;
        font-weight: bold;
        text-align: center;
    }

    #tablaCliente tbody tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    #tablaCliente tbody tr:hover {
        background-color: #e9ecef;
    }
</style>

<div id="notificationAlert" class="alert alert-info" style="display: none;"></div>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Usuarios</h1>
        <p class="lead">Gestiona y administra los usuarios de tu aplicación.</p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users"></i> Lista de Usuarios
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Cliente</button>
            </div>
        </div>

        <hr />

        <table id="tablaCliente" class="display cell-border" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombres y Apellidos</th>
                    <th>Cargo del Empleado</th>
                    <th>Razon Social</th>
                    <th>Ruc</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Activo</th>
                    <th>Mantenimiento</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />

                <div class="mb-3">
                    <label for="txtnombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txtnombre" placeholder="Escriba aquí su nombre" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="txtapellido" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="txtapellido" placeholder="Escriba aquí su apellido" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="txtcargoEmpleado" class="form-label">Cargo o Puesto</label>
                    <input type="text" class="form-control" id="txtcargoEmpleado" placeholder="Escriba aquí el puesto" autocomplete="off">
                </div>

                <div class="mb-3">
                    <label for="txtruc" class="form-label">RUC</label>
                    <input type="text" class="form-control" id="txtruc" placeholder="Escriba aquí el RUC" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="txtrazonSocial" class="form-label">Razon Social</label>
                    <input type="text" class="form-control" id="txtrazonSocial" placeholder="Escriba aquí la razón social" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="txtcorreo" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="txtcorreo" placeholder="Escriba aquí su correo" autocomplete="off">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="cboRol" class="form-label">Rol</label>
                        <select id="cboRol" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="alert alert-danger mt-3" role="alert" id="mensajeError">
                    A simple danger alert—check it out!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <!-- Agrega SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script>

        $(function () {
            // establece la conexión con el hub
            debugger;
            var notificaciones = $.connection.notificacionesHub;
            console.log(notificaciones);
            // define la función RecibirNotificacion para mostrar la notificación en la página
            notificaciones.client.RecibirNotificacion = function (mensaje) {
                debugger;
                //$('#notificationAlert').text(mensaje).show();
                Swal.fire({
                    title: "Notificación",
                    text: mensaje,
                    icon: "warning",
                    confirmButtonText: "OK",
                    allowOutsideClick: false,
                    customClass: {
                        icon: 'swal2-icon-warning swal2-icon-4x',
                        title: 'swal2-title-red'
                    },
                    position: "center"
                });
            };

            // inicia la conexión
            $.connection.hub.start().done(function () {
                console.log('Conectado al hub de notificaciones');
            });
        });

        // Función para validar el campo de nombre
        function validarNombre() {
            var nombreInput = document.getElementById('txtnombre');
            var nombreValue = nombreInput.value.trim();
            var soloLetras = /^[a-zA-Z\s]+$/;

            if (nombreValue !== '' && !soloLetras.test(nombreValue)) {
                nombreInput.value = nombreValue.slice(0, -1); // Eliminar el último carácter no válido
            }
        }

        // Función para validar el campo de apellidos
        function validarApellidos() {
            var apellidoInput = document.getElementById('txtapellido');
            var apellidoValue = apellidoInput.value.trim();
            var soloLetras = /^[a-zA-Z\s]+$/;

            if (apellidoValue !== '' && !soloLetras.test(apellidoValue)) {
                apellidoInput.value = apellidoValue.slice(0, -1); // Eliminar el último carácter no válido
            }
        }

        // Función para validar el campo de cargo o puesto
        function validarCargoPuesto() {
            var cargoInput = document.getElementById('txtcargoEmpleado');
            var cargoValue = cargoInput.value.trim();
            var letrasNumeros = /^[a-zA-Z0-9\s]+$/;

            if (cargoValue !== '' && !letrasNumeros.test(cargoValue)) {
                cargoInput.value = cargoValue.slice(0, -1); // Eliminar el último carácter no válido
            }
        }

        // Función para validar el campo de RUC
        function validarRUC() {
            var rucInput = document.getElementById('txtruc');
            var rucValue = rucInput.value.trim();
            var soloNumeros = /^[0-9]+$/;

            if (rucValue.length > 11 || (rucValue !== '' && !soloNumeros.test(rucValue))) {
                rucInput.value = rucValue.slice(0, -1); // Eliminar el último carácter no válido
            }
        }

        // Agregar eventos de escucha a los campos de entrada
        document.getElementById('txtnombre').addEventListener('input', validarNombre);
        document.getElementById('txtapellido').addEventListener('input', validarApellidos);
        document.getElementById('txtcargoEmpleado').addEventListener('input', validarCargoPuesto);
        document.getElementById('txtruc').addEventListener('input', validarRUC);

        var tabladata;
        var filaSeleccionada;

        jQuery.ajax({
            url: '@Url.Action("ListarUsuarios", "Home")',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //debugger;
                var x = "hola"
                console.log(data)
                //$('#tablaCliente').DataTable({
                //    data: data,
                //    columns: [
                //        { data: 'Nombres' },
                //        { data: 'Apellidos' },
                //        { data: 'CargoEmpleado' },
                //        { data: 'RazonSocial' },
                //        { data: 'Ruc' },
                //        { data: 'Email' },
                //        { data: 'Activo' },
                //        { data: 'Rol' }
                //    ]
                //});
            },
        });

        /* ///////////////// DATOS PARA LA CARGA DEL DATA TABLE ///////////////// */
        tabladata = $('#tablaCliente').DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                "url": '@Url.Action("ListarUsuarios", "Home")',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [ //data es el nombre de la propiedad del objeto que se recibe en el controlador y se envia al cliente en formato json
                {
                    "data": null, "render": function (data, type, row) {
                        return data.nombres + ' ' + data.apellidos;
                    }, "width": "80px", "className": "text-center"
                },
                { "data": "cargoEmpleado", "width": "80px", "className": "text-center" },
                { "data": "razonSocial", "width": "80px", "className": "text-center" },
                { "data": "ruc", "width": "100px", "className": "text-center" },
                { "data": "email", "width": "100px", "className": "text-center" },
                { "data": "oRolc.rol", "width": "100px", "className": "text-center" },
                {
                    "data": "activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="btn btn-success btn-circle"> <i class="fas fa-user-check" ></i></span > '
                        } else {
                            return '<span class="btn btn-danger btn-circle"> <i class="fas fa-user-slash"></i></span > '
                        }
                    },
                    "width": "80px", "className": "text-center"
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' + ' ' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "50px"
                    , "className": "text-center"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            },

            "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>>t<"row"<"col-sm-6"i><"col-sm-6"p>>',
            "lengthMenu": [10, 25, 50, 75, 100],
            "pageLength": 10,
            "initComplete": function () {
                $('#tablaCliente_filter input').addClass('form-control');
            },
        });

        /* ///////////////// ABRIR MODAL ///////////////// */
        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#txtapellido").val("");
            $("#txtcargoEmpleado").val(""),
            $("#txtrazonSocial").val("");
            $("#txtruc").val("");
            $("#txtcorreo").val("");
            $("#cboactivo").val(1);
            $("#cboRol").val(2);

            $("#mensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.idUsuario);
                $("#txtnombre").val(json.nombres);
                $("#txtapellido").val(json.apellidos);
                $("#txtcargoEmpleado").val(json.cargoEmpleado);
                $("#txtrazonSocial").val(json.razonSocial);
                $("#txtruc").val(json.ruc);
                $("#txtcorreo").val(json.email);
                $("#cboactivo").val(json.activo == true ? 1 : 0);
                $("#cboRol").val(json.oRolc.idRol);
            }
            $("#FormModal").modal("show");
        }

        /* ///////////////// LISTA DE ROLES ///////////////// */
        $("<option>").attr({ "value": "0", "disabled": "true", "selected": "true" }).text("Seleccionar").appendTo("#cboRol");

        jQuery.ajax({
            url: '@Url.Action("ListarRoles", "Home")',
            type: 'GET',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.idRol }).text(valor.rol).appendTo("#cboRol");
                })

            },
            error: function (error) {
                console.log(error)
            }
        })


        /* ///////////////// BOTON PARA EDITAR ///////////////// */
        $("#tablaCliente tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            //console.log(data)
            abrirModal(data)
        })

        /* ///////////////// FUNCION PARA GUARDAR Y EDITAR JQUERY ///////////////// */
        function Guardar() {
            debugger;
            var usuario = {
                idUsuario: $("#txtid").val(),
                nombres: $("#txtnombre").val(),
                apellidos: $("#txtapellido").val(),
                cargoEmpleado: $("#txtcargoEmpleado").val(),
                razonSocial: $("#txtrazonSocial").val(),
                ruc: $("#txtruc").val(),
                email: $("#txtcorreo").val(),
                activo: $("#cboactivo").val() == 1 ? true : false,
                /*idRol: $("#cboRol").val()*/
                oRolc: {
                    idRol: $("#cboRol option:selected").val(),
                    rol: $("#cboRol option:selected").text()
                }
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuarios", "Home")',
                type: 'POST',
                data: JSON.stringify({ objeto: usuario }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    /*Usuario nuevo*/
                    if (usuario.idUsuario == 0) {

                        if (data.resultado != 0) {
                            usuario.idUsuario = data.resultado;
                            tabladata.row.add(usuario).draw(false);

                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }
                     /*Usuario editar*/
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(usuario).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }

                },
                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imagenResizeFactor: 2,
                        text: "Cargando...",
                        size: 20
                    })
                }
            })
        }


        /* ///////////////// BOTON PARA ELIMINAR ///////////////// */
        $("#tablaCliente tbody").on("click", '.btn-eliminar', function () {

            var usuarioSeleccionado = $(this).closest("tr");
            var data = tabladata.row(usuarioSeleccionado).data();
            //console.log(data);
            swal({
                title: "¿Estas seguro?",
                text: "¿Desea eliminar al usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                jQuery.ajax({
                    url: '@Url.Action("EliminarUsuario", "Home")',
                    type: 'POST',
                    data: JSON.stringify({ id: data.idUsuario }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabladata.row(usuarioSeleccionado).remove().draw();
                        } else {
                            swal("No se pudo eliminar", data.mensaje, "Error");
                        }

                    },
                    error: function (error) {
                        console.log(error)
                    }
                });

            });
        })


    </script>



}
